header{
  height: 15vh;
  box-shadow: -4px 0px 10px #000;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.shop, .nouveautes{
  color: #d45092;
}
header h1 {
  margin-left: 10%;
}
 ul {
  display: flex;
  justify-content: space-around;
}
ul li{
  list-style: none;
font-size: 2rem;
margin: 0 12px;
}
ul li a {
  color: #000;
  text-decoration: none;
}
.icons-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.home{
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
padding: 0 42px;
}
*{
  font-family: Arial, Helvetica, sans-serif;
}
.home h1{
  font-weight: 900;
  font-size: 3rem;

}
.image{
  background: url(./images/home.png)center/cover;
  height: 85vh;

}
.home button {
    padding: 20px 30px;
  background: rgb(255, 0, 191);
  color: white;
  border: none;
  transform: skew(-20deg);
  cursor: pointer;
  
}

.section-container{
display: flex;
justify-content: space-around;

}
.arrivage h2 {
  font-weight: 900;
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: 12px;
  position: relative;
}
.arrivage h2::before {
  content: '';
  background: rgb(255, 0, 191);
  height: 3px;
  width: 30%;
  transform: translateX(100%);
  position: absolute;
}
.arrivage h2::after {
  content: '';
  height: 3px;
  width: 30%;
  transform: translateX(-100%);
  position: absolute;
  background: rgb(255, 0, 191);
}
.arrivage h2 span {
  color: rgb(255, 0, 191);
}
.item{
  transition: .7s;
}
.item:hover{
  opacity: 0.8;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000009c;
  cursor: pointer;
  
}
.item:hover::after{
  content: 'AJOUTER AU PANIER';
  position: absolute;
  color: #fff;
  padding: 20px;
  transform: translateX(50%);
  background: rgb(255, 0, 191);
transform: skew(-20deg);
}
*{
  /* border: 1px solid red; */
}
.images-produits{
  position: relative;
  /* background-color: red; */
}
.produits h2 {
  font-weight: 900;
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: 12px;
  position: relative;
}
.produits h2::before {
  content: '';
  background: rgb(255, 0, 191);
  height: 3px;
  width: 30%;
  transform: translateX(100%);
  position: absolute;
}
.produits h2::after {
  content: '';
  height: 3px;
  width: 30%;
  transform: translateX(-100%);
  position: absolute;
  background: rgb(255, 0, 191);
}
.images-produits img{
  padding: -12px;
}
.imagee
{
  box-shadow: 10px 10px 10px black;
}
.img-content{
  position: relative;

}
.produits .span{
  color: rgb(255, 0, 191);
}
.images-produits img {
  height: 500px;
}
.produits .icons {
  color: rgb(138, 138, 32);
  margin: 0 2px;
  
}
.imagee {
  padding: 12px 20px;

}
.starss{
  display: flex;
  color: rgb(209, 209, 21);
}
.image1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.clients h2::before {
  content: '';
  background: rgb(255, 0, 191);
  height: 3px;
  width: 30%;
  transform: translateX(100%);
  position: absolute;
}
.clients h2::after {
  content: '';
  height: 3px;
  width: 30%;
  transform: translateX(-100%);
  position: absolute;
  background: rgb(255, 0, 191);
}
.clients h2 {
 font-weight: 900;
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: 12px;
  position: relative;
}
.clients span {
   color: rgb(255, 0, 191);
}
.content img{
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
}
.content p {
  width: 70%;
}
.content h3 {
  margin-top: -5px;
}
.content{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  padding: 5px 0;
  box-shadow: 10px 13px 12px 1px rgba(0, 0, 0, 0.164);
  border-bottom: 2px solid red;
}
.star-client{
  color: rgb(209, 209, 21);
  display: flex;
  margin: 12px 0;
}
.client-container{
   display: flex;
}
.footer {
  background: #000000fb;
  display: grid;grid-template-columns: repeat(4, 1fr);
  padding: 0 32px;
  color: #fff;
}
.footer p{
  color: #d45092;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}