.arrivage {
  .item {
    transition: .7s;
    &:hover {
      opacity: 0.8;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #0000009c;
      cursor: pointer;
    }
  }

  .item:hover::after {
    content: 'AJOUTER AU PANIER';
    position: absolute;
    color: #fff;
    padding: 20px;
    transform: translateX(50%);
    background: rgb(255, 0, 191);
    transform: skew(-20deg);
  }

  h2 {
    font-weight: 900;
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: 12px;
    position: relative;
span {
  color: rgb(255, 0, 191);
}
    &::before {
      content: '';
      background: rgb(255, 0, 191);
      height: 3px;
      width: 30%;
      transform: translateX(100%);
      position: absolute;
    }

    &::after {
      content: '';
      height: 3px;
      width: 30%;
      transform: translateX(-100%);
      position: absolute;
      background: rgb(255, 0, 191);
    }
  }

  .images {

    .section-container {
      display: flex;
      justify-content: space-around;

      .img1 {}
    }
  }
}
